AudioDSP-1.0/History
AudioDSP-1.0/Project Logs for *
AudioDSP-1.0/Project Outputs for *
AudioDSP-1.0/__Previews
AudioDSP-1.0/SCH/__Previews
AudioDSP-1.0/PCB/*.html
AudioDSP-1.0/PCB/*.txt

AudioDSP-PoteBoard-1.0/History
AudioDSP-PoteBoard-1.0/Project Logs for *
AudioDSP-PoteBoard-1.0/Project Outputs for *
AudioDSP-PoteBoard-1.0/__Previews
AudioDSP-PoteBoard-1.0/SCH/__Previews
AudioDSP-PoteBoard-1.0/PCB/*.html
AudioDSP-PoteBoard-1.0/PCB/*.txt

AudioDSP-JackBoard-1.0/History
AudioDSP-JackBoard-1.0/Project Logs for *
AudioDSP-JackBoard-1.0/Project Outputs for *
AudioDSP-JackBoard-1.0/__Previews
AudioDSP-JackBoard-1.0/SCH/__Previews
AudioDSP-JackBoard-1.0/PCB/*.html
AudioDSP-JackBoard-1.0/PCB/*.txt

AudioDSP-RCABoard-1.0/History
AudioDSP-RCABoard-1.0/Project Logs for *
AudioDSP-RCABoard-1.0/Project Outputs for *
AudioDSP-RCABoard-1.0/__Previews
AudioDSP-RCABoard-1.0/SCH/__Previews
AudioDSP-RCABoard-1.0/PCB/*.html
AudioDSP-RCABoard-1.0/PCB/*.txt

Simulations/FiltroDAC/*.log
Simulations/FiltroDAC/*.op.raw
Simulations/FiltroDAC/*.raw
